/*DEFININDO CORES PADRÃO*/

:root {
    --cor-primaria: #FF9AA2;
    --cor-secundaria: #B5EAD7;
    --cor-destaque: #ffdac1;
    --cor-texto: #2F4858;
    --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);

};

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'sans-serif';
    color: var( --cor-texto );
    background: #f8f8f8;
}

.cabecalho {
    background: linear-gradient(135deg , var(--cor-primaria), var(--cor-secundaria),);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    box-sizing: var(--sombra);
    position: relative;
    overflow: hidden;
}